.bukget-wrapper {
  width: 960px;
  height: 650px;
}
.bukget-header {
	background: url(../img/bukget/header-bg.png);
	width: 100%;
	height: 70px;
	z-index: 99999;
}
.bukget-header h1 {
  background: url(../img/bukget/logo.png) no-repeat center;
  float: left;
  height: 41px;
  text-indent: -9999px;
  width: 243px;
  margin: 15px 0 20px 10px;
}
.bukget-header input[type="text"] {
  float: left;
  height: 25px;
  width: 250px;
  margin: 18px 10px 20px 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  display: inline-block;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fefefe;
  float: right;
}

.bukget-header input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}
.bukget-content {
  position: relative;
  top: -6px;
}
.bukget-area {
  background: #fefefe;
  height: 580px;  
  width: 651px !important;
}
.bukget-area2 {
  border-left: 1px solid #444;
  background: #fefefe url(../img/bukget/bg.png) repeat top left;
  height: 580px;
  width: 33%;
  position: relative;
  z-index: 9999;
}
.bukget-list {
  text-align: left;
  overflow-y: auto;
  max-height: 550px;
}
.bukget-list ul {
  padding: 0 10px;
}
.bukget-list li{
  padding: 5px 0;
  line-height: 20px;
}
.bukget-list img{
  padding: 10px 0 0 10px;
}

.bukget-list li b{
  font-size: 18px;
  color: green;
  line-height: 20px;
}
.bukget-list p.greyed {
color: #555;
margin: 100px 74px;
}
.bukget-list p{
color: #555;
}
.bukget-area .binder {
  background: #e8e8e8;
  float: left;
  width: 100%; 
  height: 100%;
  position: relative
}

.bukget-heading {
  background-color: #222;
  background-image: -o-linear-gradient(top,#222,#111);
  background-image: -ms-linear-gradient(top,#222,#111);
  background-image: -moz-linear-gradient(top,#222,#111);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#111));
  background-image: -webkit-linear-gradient(top,#222,#111);
  background-image: linear-gradient(top,#222,#111);
  -pie-background: linear-gradient(top,#222,#111);
  font-size: 14px;
  color: #fff;
  height: 20px;
  padding: 0 0 10px 10px;
  text-shadow: 0 1px 0 #000;
  text-align: left;
  position: relative;
  color: #fefefe;
  border-top: 1px solid #383838;
}
.bukget-heading h3 {
  font-size: 15px;
  position: relative;
  color: inherit;
  font-weight: bold;
  display: inline;
}
.bukget-area .additional-block {
  float: left;
  width: 100%;
  height: 550px;
  position: absolute
}
.bukget-area .menu {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden
}
.bukget-area .menu li {
  background-color: #fff;
  cursor: pointer;
  border-top: 1px solid #ccc;
}
.bukget-area .menu li.plugin {
  cursor: pointer;
  height: 32px;
  overflow: hidden;
  padding: 0 10px 0 10px;
}
.bukget-area .menu li.plugin.selected {
  background-color: #eaeaea;
}
.bukget-area .menu li.plugin.selected > div > div.col.left{
  margin-left: 12px;
}
.bukget-area .plugin .details {
  position: relative;
  top: 14px
}
.bukget-area .menu li.expanded {
  height: auto;
  background-color: #222;
  background-image: -o-linear-gradient(top,#333,#111);
  background-image: -ms-linear-gradient(top,#333,#111);
  background-image: -moz-linear-gradient(top,#333,#111);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
  background-image: -webkit-linear-gradient(top,#333,#111);
  background-image: linear-gradient(top,#333,#111);
  -pie-background: linear-gradient(top,#333,#111);
  cursor: pointer;
  color: #fefefe
}
.bukget-area .menu li:hover {
  background-color: #222;
  background-image: -o-linear-gradient(top,#333,#111);
  background-image: -ms-linear-gradient(top,#333,#111);
  background-image: -moz-linear-gradient(top,#333,#111);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
  background-image: -webkit-linear-gradient(top,#333,#111);
  background-image: linear-gradient(top,#333,#111);
  -pie-background: linear-gradient(top,#333,#111);
  cursor: pointer;
  color: #fefefe
}
.bukget-area .menu li:hover h4 {
  color: #fefefe !important;
}
.bukget-search-container {
  position: relative;
  top: -6px;
}

.bu-ba-bu {
  line-height: 30px;
  top: 4px;
  position: relative;
}
.bukget-area .menu li:hover a.has-child {
  background: url('../img/arrow-hover.png') 98% 50% no-repeat
}
.bukget-area .menu li > a {
  display: block;
  width: 632px;
  color: inherit;
  padding: 10px;
  background-color: #fff;  
}
.bukget-area .has-child {
  background: #fff url('../img/arrow.png') 97% 50% no-repeat
}
.bukget-area .back {
  top: 4px;
  background: url('../img/prev.png') bottom left no-repeat;
  position: relative;
  display: inline-block;
  height: 15px;
  width: 50px;
  cursor: pointer;
}
.bukget-area .biodata {
  margin-left: 10px;
  font-size: 12px
}
.bukget-area .info {
  color: #fff;
  position: absolute;
  text-align: right;
  width: 400px;
  margin-top: 15%;
  font-size: 40px;
  font-weight: bold;
  line-height: .9em;
  text-shadow: 0 2px 0 #000
}